<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>

		<!-- Tamaño máximo de la solicitud en bytes (200 MB) y timeout -->
		<httpRuntime targetFramework="4.8" maxRequestLength="204800" executionTimeout="3600" />
	</system.web>

	<system.webServer>
		<!-- Tamaño máximo permitido para solicitudes, en bytes -->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="209715200" />
			</requestFiltering>
		</security>
	</system.webServer>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
              type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              warningLevel="4" compilerOptions="/langversion:latest" />
		</compilers>
	</system.codedom>
</configuration>